.container {
  width: 100%;
  padding: 16px;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  min-height: 360px;
}

.opponentField,
.playerField {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  min-height: 160px;
}
