.container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 16px;
  height: 100vh;
  padding: 16px;
  position: relative;
}

.opponentArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playerArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gameField {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
